QWidget
{
    border-radius: 8px;
}
#groupBoxTopMenu, #groupBoxBottomMenu
{
    background-color: rgb(220, 220, 220);
}
QPushButton
{
background-color: rgb(150, 150, 150);
border: 1px solid rgb(70, 70, 70);
}
QPushButton:disabled
{
    background-color: lightgray;    
}
QPushButton:hover
{
    background-color: rgb(179, 179, 179);
    color: rgb(0, 0, 0);
}
QPushButton:pressed
{
    color: rgb(255, 255, 255);
}
QGroupBox
 {
    border: 2px solid rgb(135, 135, 135);
    margin-top: 10px;
    background-color: rgb(230, 230, 230);
}

QGroupBox::title 
{
    border-radius: 8px;
    subcontrol-origin: margin;
    subcontrol-position: top center;
    border: 2px solid rgb(135, 135, 135);
    background-color: rgb(220, 220, 220);
    padding: 4px;
}

QComboBox 
{
    padding: 1px 18px 1px 3px;
    min-width: 6em;
    border-radius: 8px;
}

QComboBox:editable {
    background: white;
}

QComboBox:!editable, QComboBox::drop-down:editable 
{
     background: white;
}

QComboBox:!editable:on, QComboBox::drop-down:editable:on
 {
    background: lightgray;
}

QComboBox:on 
{
    padding-left: 4px;
}

QComboBox::drop-down
 {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 10px;
    border-left-width: 1px;
    border-left-color: gray;
    border-left-style: solid;
    border-radius: 8px;
}

QComboBox QAbstractItemView
{
    border: 2px solid gray;
    selection-background-color: lightgray;
}

QLineEdit, QPlainTextEdit, QComboBox
{
    border: 1px solid lightgray;
}
QSpinBox {

    border-width: 3;
}

QSpinBox::up-button {
    border: 1px solid gray;
    subcontrol-origin: border;
    subcontrol-position: top right;

    border-width: 1px;
    background: lightgray;
    border-radius: 4px;
}
QSpinBox::up-button:pressed 
{
background-color: gray;
    border: 1px solid lightgray;
}

QSpinBox::down-button {
    border: 1px solid gray;
    subcontrol-origin: border;
    subcontrol-position: bottom right;

    border-width: 1px;
    background: lightgray;
    border-radius: 4px;
}

QSpinBox::down-button:pressed 
{
background-color: gray;
    border: 1px solid lightgray;
}
QLabel
{
line-height: 10%;
}